<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview events">
	###EVENT###
    ###EVENT_DATE###
    ###ORGANIZATION###
	###FIRST_NAME###
	###LAST_NAME###
  	###STREET###
    ###CITY###
    ###ZIP###
    ###EMAIL###
    ###PHONE###
    ###COUNT_PT###
    ###REMARKS###
</div>
<!-- ###TEMPLATE_SINGLE### end -->            

