<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview events">
	###TITLE###
	###SUBTITLE###
    <div class="pic left">###PIC###</div>
    <div class="data left">
	###DESCRIPTION###
	###CONTACT###
  	###STREET###
    ###CITY###
    ###BUILDING###
    ###ROOM###
    ###EMAIL_TEXT###
    </div>
</div>
<!-- ###TEMPLATE_SINGLE### end -->            

