<!-- ###TEMPLATE_LIST### begin -->
<div class="no_float">
<h2>###TITLE###</h2>
<div class="image_200">###MEDIEN1###</div>
<h3>###LEITENDE_EINRICHTUNG###</h3>
###WISS_LEITUNG###
###WISS_MITARBEITER###
<div class="kurzbeschreibung">###BESCHREIBUNG_KURZ###</div>
###DISS###
</div>
<!-- ###TEMPLATE_LIST### end -->
