<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview forschung">
	###TITLE###
	<div class="top">
		###MEDIEN1###
		###MEDIEN2###
		###BESCHREIBUNG_KURZ###
	</div>
	<div class="bottom">
		###LEITENDE_EINRICHTUNG###
		###FAKULTAET###
		###FOERDERUNG_WER###
		###KOOPERATIONSPARTNER###
		###START_DATUM###
		###END_DATUM###
		###WISS_LEITUNG###
		###WISS_MITARBEITER###
		###WEBSEITE###
		###BESCHREIBUNG_LANG###
		###DOWNLOADS###
		###VEROEFF_TITLE###
		###DISS###
	</div>
</div>
<!-- ###TEMPLATE_SINGLE### end -->            
