<!-- ###TEMPLATE_LIST### begin -->
<div class="no_float">
<h2>###TITLE###</h2>
<div class="image_200">###GRAFIK###</div>
<div class="kurz_beschreibung">###BESCHREIBUNG_KURZ###</div>
###KOOPERATIONS_UNI###
###FAKULTAET###
###ZWEIT_BETREUER###
###BESCHREIBUNG_LANG###
</div>
<!-- ###TEMPLATE_LIST### end -->
