<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview promotioinen">
	###TITLE###
	<div class="top">
		###GRAFIK###
		###BESCHREIBUNG_KURZ###
	</div>
	<div class="bottom">
		###FAKULTAET###
		###KOOPERATIONS_UNI###
		###START_DATUM###
		###END_DATUM###
		###ERST_BETREUER###
		###ZWEIT_BETREUER###
		###BESCHREIBUNG_LANG###
	</div>
</div>
<!-- ###TEMPLATE_SINGLE### end -->            
