<!-- ###TEMPLATE_LIST### begin -->
<div class="no_float">
<h2>###UNTERKATEGORIE### ###EIGENSCHAFT1### ###EIGENSCHAFT2###  <span class="produktname">###PRODUKTNAME_NOLINK###</span></h2>
<div class="image_90">###BILD_NOLINK###</div>
<div class="bemerkung">###BEMERKUNG###</div>
<div class="artikelnummer"><b>Artikelnummer:</b> ###ARTIKELNUMMER###</div>
<div class="zeile"><b>Hersteller:</b> ###HERSTELLER###</div>
<div class="zeile"><b>Lieferant:</b> ###LIEFERANTEN###</div>
</div>
<!-- ###TEMPLATE_LIST### end -->
