<!-- ###TEMPLATE_LIST### begin -->
<div class="no_float">
<h3>###TITLE###</h3>
###BILD###
###BEMERKUNG###
###ADRESSE###
###TEL###
###FAX###
###WWW###
###EMAIL###
</div>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview">
<h3>###TITLE###</h3>
<table><tbody>
<tr><td style="width: 45%;" class="spalte_links">
###ADRESSE###
###TEL###
###FAX###
###WWW###
###EMAIL###
</td><td style="width: 45%;" class="spalte_rechts">
###BILD###
###BEMERKUNG###
</td></tr>
</table>
</div>
<!-- ###TEMPLATE_SINGLE### end -->       
