
<!-- ###TEMPLATE_LIST### begin -->
<div class="no_float">
<h2>###PRODUKTNAME###</h2>
<div class="image_90">###BILD###</div>
<div class="bemerkung">###BEMERKUNG###</div>
<div class="artikelnummer"><b>Artikelnummer:</b> ###ARTIKELNUMMER###</div>
<div class="zeile"><b>Preis:</b> ###PREIS###</div>
<div class="zeile"><b>In den Warenkorb:</b> ###CART###</div>
</div>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview">
###PRODUKTNAME###
###BILD###
###BEMERKUNG###
###ARTIKELNUMMER###
###PREIS###
<!-- ###TEMPLATE_SINGLE### end -->            
