
<!-- ###TEMPLATE_LIST### begin -->
<div class="image_50">###BILD###</div>
<div class="title">###PRODUKTNAME###</div>
<div class="kategorie_roem">###HAUPTKATEGORIE###</div>
<div class="preis">###PREIS###</div>
<div class="cart">###CART###</div>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview">
###PRODUKTNAME###
###BILD###
###HERSTELLER_BEZEICHNUNG###
###PREIS###
###BEMERKUNG###
<!-- ###TEMPLATE_SINGLE### end -->            
