
<!-- ###TEMPLATE_LIST### begin -->
<div class="artikelnummer">###ARTIKELNUMMER###</div>
<div class="title">###PRODUKTNAME###</div>
<div class="hersteller">###HERSTELLER_BEZEICHNUNG###</div>
<div class="preis">###PREIS###</div>
<div class="cart">###CART###</div>
<!-- ###TEMPLATE_LIST### end -->

<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview">
###PRODUKTNAME###
###HERSTELLER_BEZEICHNUNG###
###PREIS###
</div>
<!-- ###TEMPLATE_SINGLE### end -->            
