<!-- ###TEMPLATE_SINGLE### begin -->
<div class="singleview forschung">
	###TITLE###
	###ZUSATZ###
	<div class="bottom">
		###CAMPUS###
		###FAKULTAET###
		###STUDIENGANG###
		###VERANTWORTLICHE###
		###DOWNLOAD###
		###LINK###
		###CREDITS###
		###LEVEL###
		###SEMESTER###
	</div>
</div>
<!-- ###TEMPLATE_SINGLE### end -->            
